@media print
{
  .no-print {
    display: none !important;
  }
}

.custom-form {
  select, input {
    width: 100%;
    margin: 10px 0px;
  }
}

td {
  min-width: 30px;

  &:nth-last-child(2),
  &:nth-last-child(3)
  {
    text-align: center;
  }

  &:last-child {
    font-weight: 600;
    text-align: right;
  }
}